html
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	background: radial-gradient(#b1b1b1, #aaaaaa, #6c6c6c);
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    width: /*whatever width you want*/;
}

h1
{	
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: 300;
	color: #0099ad;
}